*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	display: block;
	width: 100%;
	text-decoration: none;
	background-color: #0C2E2F;
	color: #B6B887;
	height: 70px;
	line-height: 70px;
	font-size: 25px;
	margin-left: 30px;
	padding-left: 20px;
}
a:hover{
	background: #4A4F3B;
	color: white;
}
#content{
	background-color: #0C2E2F;
	padding-top: 30px;
}
#name >a{
	width: 250px;
	margin-bottom: 30px;
	text-align: center;
	padding: 0px 10px 0px 10px;
	border-radius: 10px;
	border: 2px solid #B6B887;
}

#menu {
	background-color: #0C2E2F;
	border-bottom: 2px solid #B6B887;
}
#menu:after{
	content: "";
	width: 100%;
	display: block;
	clear: both;
}
#menu >li{
	display: inline-block;
	position: relative;
}
#menu >li >ul{
	display: none;
	min-width: 400px;
	position: absolute;
	left: 0px;
	top: 100%;
}
#menu >li:hover >ul{
	display: block;
}

#menu  >li:nth-child(1){
	margin-left: 200px;
}